.formular {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 10px 5px lightgray;
}

mat-card {
  background: white;
}

.center {
  margin: auto;
  text-align: center;
  width: 75%;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.name {
  margin-top: 120px;
}

.tabelle {
  margin: auto;
  display: flex;
  column-count: 2;
  width: 80%;
}

.item {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 75%;
  padding: 10px;
}

mat-raised-button {
  margin-top: 200px;
}

h6 {
  color: lightgray;
  margin-bottom: -10px;
}
