<mat-toolbar color="primary">
  <span>
    <a routerLink="/" class="logo" title="Startseite">
      <img src="assets/img/logo.png" alt="hska Logo" style="width:40px;height:40px;" />
    </a>
  </span>
  <span class="spacer"></span>
  <a mat-button routerLink="/create" routerLinkActive="mat-accent" class="new-kunde" title="Neuer Kunde">
    <img src="assets/img/neuerkunde.png" alt="neuer Kunde" style="width:30px;height:30px;" />
  </a>
  <a mat-button routerLink="/login" routerLinkActive="mat-accent" class="login" title="Login">
    <img src="assets/img/sign-in-alt-solid.png" alt="login" style="width:26px;height:20px;" />
  </a>
  <a mat-button routerLink="/profile" *ngIf="logged" routerLinkActive="mat-accent" class="login" title="profile">
    <img src="assets/img/sign-in-alt-solid.png" style="width:26px;height:20px;" />
  </a>
</mat-toolbar>
