.formular {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 10px 5px lightgray;
  margin-bottom: 100px;
}

textarea {
  width: 100%;
}

mat-form-field {
  margin: 5px;
}

mat-spinner {
  margin: auto;
}

h4 {
  color: #FF5722;
  text-align-last: center;  
}