<div class="formular">
  <mat-card>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Nach Parametern suchen">
        <form (submit)="onFindKundeByParams()" *ngIf="!laedt" [formGroup]="formByParams">
          <mat-list>
            <mat-list-item>
              <mat-form-field>
                <input matInput type="text" formControlName="nachname" placeholder="Nachname" />
                <mat-error *ngIf="formByParams.get('nachname').invalid">Please enter a valid surname</mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input matInput type="text" formControlName="email" placeholder="Email" />
                <mat-error *ngIf="formByParams.get('email').invalid">Please enter a valid email</mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input matInput type="text" formControlName="kategorie" placeholder="Kategorie" />
                <mat-error *ngIf="formByParams.get('kategorie').invalid">Please enter a valid Kategorie</mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input matInput type="text" formControlName="geschlecht" placeholder="Geschlecht" />
                <mat-error *ngIf="formByParams.get('geschlecht').invalid">Please enter a valid geschlecht</mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input matInput type="text" formControlName="familienstand" placeholder="Familienstand" />
                <mat-error *ngIf="formByParams.get('familienstand').invalid">Please enter a valid familienstand
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input matInput type="text" formControlName="ort" placeholder="Ort" />
                <mat-error *ngIf="formByParams.get('ort').invalid">Please enter a valid ort</mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input matInput type="text" formControlName="plz" placeholder="PLZ" />
                <mat-error *ngIf="formByParams.get('plz').invalid">Please enter a valid plz</mat-error>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
          <button mat-raised-button color=accent type="submit" class="button_param">
            suchen
          </button>
        </form>
      </mat-tab>
      <mat-tab label="Nach ID suchen">
        <form (submit)="onFindKundeByID()" *ngIf="!laedt" [formGroup]="formByID">
          <mat-form-field class="ID_input">
            <input matInput type="text" formControlName="id" placeholder="ID" />
            <mat-error *ngIf="formByID.get('id').invalid">Please enter a valid ID</mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit" color=accent class="button_id">
            suchen
          </button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <mat-spinner *ngIf="laedt"></mat-spinner>
  <div class="liste">
    <mat-accordion multi="true" *ngIf="kunden.length > 0 && !laedt">
      <mat-expansion-panel *ngFor="let kunde of kunden">
        <mat-expansion-panel-header>
          {{ kunde.id }}
        </mat-expansion-panel-header>
        <p>{{ kunde.nachname }}</p>
        <mat-action-row>
          <a mat-button color="accent" [routerLink]="['/edit', kunde.id]">Edit</a>
          <button mat-button color="warn" (click)="onDelete(kunde.id)">Löschen</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<p class="info-text" *ngIf="kunden.length <= 0 && !laedt">Keine Kunden gefunden</p>