:host {
  display: block;
  margin-top: 1rem;
}
.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.formular {
  margin-left: 5%;
  margin-right: 5%;
}

mat-accordion {
  margin-left: 5%;
  margin-right: 5%;
}

mat-card {
  background: white;
}