<mat-card>
  <mat-tab-group>
    <mat-tab label="ID">
      <form (submit)="onFindKundeByID()" [formGroup]="formByID">
        <mat-form-field>
          <input matInput type="text" formControlName="id" placeholder="ID" />
          <mat-error *ngIf="formByID.get('id').invalid">Please enter a valid ID</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">
          Save
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Nachname">
      <form (submit)="onFindKundeByNachname()" [formGroup]="formByNachname">
        <mat-form-field>
          <input matInput type="text" formControlName="nachn" placeholder="Nachname" />
          <mat-error *ngIf="formByNachname.get('nachn').invalid">Please enter a valid Nachname</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">
          Save
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Email">
      <form (submit)="onFindKundeByEmail()" [formGroup]="formByEmail">
        <mat-form-field>
          <input matInput type="text" formControlName="email" placeholder="Email" />
          <mat-error *ngIf="formByEmail.get('email').invalid">Please enter a valid Email</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">
          Save
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Nachname und Ort">
      <form (submit)="onFindKundeByNachnOrt()" [formGroup]="formByNachnOrt">
        <mat-form-field>
          <input matInput type="text" formControlName="nachn" placeholder="Nachname" />
          <mat-error *ngIf="formByNachnOrt.get('nachn').invalid">Please enter a valid ID</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="ort" placeholder="Ort" />
          <mat-error *ngIf="formByNachnOrt.get('ort').invalid">Please enter a valid Ort</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">
          Save
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Nachname und Ort und PLZ">
      <form (submit)="onFindKundeByNachnOrtPlz()" [formGroup]="formByNachnOrtPlz">
        <mat-form-field>
          <input matInput type="text" formControlName="nachn" placeholder="Nachname" />
          <mat-error *ngIf="formByNachnOrtPlz.get('nachn').invalid">Please enter a valid Nachname</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="ort" placeholder="Ort" />
          <mat-error *ngIf="formByNachnOrtPlz.get('ort').invalid">Please enter a valid Ort</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="plz" placeholder="PLZ" />
          <mat-error *ngIf="formByNachnOrtPlz.get('plz').invalid">Please enter a valid PLZ</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">
          Save
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-spinner *ngIf="laedt"></mat-spinner>

<mat-accordion multi="true" *ngIf="kunden.length > 0 && !laedt">
  <mat-expansion-panel *ngFor="let kunde of kunden">
    <mat-expansion-panel-header>
      {{ kunde.id }}
    </mat-expansion-panel-header>
    <p>{{ kunde.nachname }}</p>
    <mat-action-row>
      <a mat-button color="accent" [routerLink]="['/edit', kunde.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(kunde.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text" *ngIf="kunden.length <= 0 && !laedt">No posts found</p>
