<mat-accordion multi="true" *ngIf="kunden.length > 0">
  <mat-expansion-panel *ngFor="let kunde of kunden">
    <mat-expansion-panel-header>
      {{ kunde.id }}
    </mat-expansion-panel-header>
    <p>{{ kunde.nachname }}</p>
    <mat-action-row>
      <a mat-button color="accent" [routerLink]="['/edit', kunde.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(kunde.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text" *ngIf="kunden.length <= 0">No posts found</p>
